extends base

block main
  for post in page.posts.toArray()
    include _partial/post-excerpt.pug
  .page-links
    // Previous page
    if page.prev == 1
      a.left(href=url_for("")) Prev Page
    else if page.prev > 1
      a.left(href=url_for("page/" + page.prev)) Prev Page
    else
      span.left Prev Page

    // Page number
    = page.current + " / " + page.total

    // Next page
    if page.next > 0
      a.right(href=url_for("page/" + page.next)) Next Page
    else
      span.right Next Page
